body{
    padding: 50px 100px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgb(247, 248, 248);
}

.container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
   margin-right: 50px;
   background-color: rgb(89, 104, 235);
   
}
h1{
    font-size: x-large;
    margin-bottom: 20px;
    padding:  30px 30 px;
    background-color: rgb(63, 28, 189);
    
}
input{
    padding: auto;
   
    margin-right: 20px;
}
select{
    padding: 15px;
    margin-right: 30px;
}
button{
    padding: 15px 30 px;
    background-color: rgb(146, 146, 146);
    text-align: center;
    
}
#result{
    font-size: 20px;
    margin-top: 20px;
}
label{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
